<!DOCTYPE html>

<html lang="en">
    <head>
    <title>IEEE Workshop</title>
    </head>
    
    <body>
        <h1>Hello World</h1>

        <!--Embedded message goes here-->
        <h3> <%= message %> </h3>
    </body>    
    
    <script>
        document.body.style.backgroundColor = "<%= color %>";
    </script>
    
</html>